#Movies {
  overflow: auto;
  height: auto;
}

.title-heading {
  direction: rtl;
  font-family: 'Font', sans-serif;
}

.main-content {
  margin: 0 15px;
}

article.main-article {
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #ddd;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .title-heading {
    font-size: 25px[];
  }
}